body {
  background-color: #b29eb9;
}

.to-do-container {
  position: relative;
  background-color: white;
  width: 60%;
  top: 100px;
  left: 17%;
  height: 600px;
  padding: 20px;
}

.add-to-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.add-to-do-input {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}

.add-to-do-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  color: white;
  font-size: 20px;

  background-color: #b29eb9;
  border-radius: 100px;
  cursor: pointer;
}

.add-to-do-btn:active {
  color: black;
}

.list-container {
  margin-top: 10px;
}

.list {
  display: flex;
}
